.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.fullRowImg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.inspirationRow {
    position: relative;
    font-family: ITCAvantGardeW04-Book;
    font-size: 7vmax;
    color: white;
    overflow-x: hidden;
}

#HomeContent {
    display: grid;
    grid-template-rows: repeat(6, 100vh);
}

.inspirationPage {
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-template-rows: repeat(16, 6vh);
}

.inspirationPage .inspirationRow {
    grid-column: 2/16;
    grid-row: 2/16;
}

#SupportPage_CrossDawn {
    background-image: url("../images/cross-dawn-dusk-53959.jpg");
}

#SupportPage_CrossDawn .inspirationRow {
    grid-column: 2/10;
}

#SupportPage_BloomingRose {
    background-image: url("../images/background-beautiful-bloom-459305.jpg");
}

#SupportPage_Galaxy {
    background-image: url("../images/dark-galaxy-wallpaper-night-32237.jpg");
}

#SupportPage_BeachBottle {
    background-image: url("../images/beach-bottle-cold-292426.jpg");
}

#SupportPage_BoardGame {
    background-image: url("../images/battle-board-game-challenge-209640.jpg");
}

#SupportPage_HikingView {
    background-image: url("../images/active-activity-adventure-547116.jpg");
}

#SupportPage_Silhouette {
    background-image: url("../images/action-backlit-beach-1046896.jpg");
}

#Journey {
    background-image: url("../images/ancient-architecture-building-161164.jpg");
}

#Partner {
    background-image: url("../images/branch-cherry-blossom-environment-356269.jpg");
}

#Art {
    background-image: url("../images/abstract-art-artistic-327509.jpg");
}

#Contact {
    background-image: url("../images/beach-bottle-cold-292426.jpg");
}

#banner {
    display: none;
    grid-template-columns: repeat(7, 1fr);
}

#websiteTitle {
    font-size: 36pt;
}

.bannerItem {
    background-image: url("../images/BannerPattern.png");
    font-size: 24pt;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
    color: white;
}

.bannerItem:hover {
    border: 2px solid white;
}

#mascotPicture {
    background-image: url("../images/Noriko.png");
    background-size: contain;
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .inspirationRow {
        font-size: 9vmax;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
