@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
<meta name="viewport" content="width=device-width, user-scalable=no" />

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
