#BlogEntry {
    display: grid;
    grid-template-columns: 2vw repeat(16, 6vw) 2vw;
    grid-template-rows: 85vh 10vh 5vh 1vh 100vh;
    height: 100%;
}

#BannerImg {
    grid-column: 2 / span 16;
    grid-row: 1/2;
}

.centeredEntryData {
    grid-column: 1/20;
    text-align: center;
}

#Title {
    grid-row: 2/3;
    font-size: 64px;
    font-family: 'Open Sans', sans-serif;
}

#EntryInfo {
    grid-row: 3/4;
}

.captionText {
    color: #999;
    font-style: italic;
    font-family: "Roboto Condensed";
    grid-column: 1/20;
    text-align: center;
}

#titleSeparator {
    grid-row: 4/5;
}

#EntryContent {
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-row: 5/6;
    grid-column: 2/18;
    font-size: 16px;
    font-family: "Roboto Condensed";
}

.EntryParagraph {
    padding-top: 30px;
    grid-column: 1/16;
}

.EntryPhotoContainer {
    grid-column: 4/14;
}