#BlogEntry {
    display: grid;
    grid-template-columns: 2vw repeat(16, 6vw) 2vw;
    grid-template-rows: 40vw 5vw 1vw 5vw;
    margin-bottom: 15vw;
}

#BannerImg {
    grid-column: 2 / span 16;
    grid-row: 1/2;
}

.centeredEntryData {
    grid-column: 1/20;
    text-align: center;
}

#Title {
    grid-row: 2/3;
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
}

#EntryInfo {
    font-size: 1vw;
    grid-row: 3/4;
}

.captionText {
    color: #999;
    font-style: italic;
    font-family: "Roboto Condensed";
    grid-column: 1/20;
    text-align: center;
}

#titleSeparator {
    grid-row: 4/5;
}

#EntryContent {
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-row: 5/6;
    grid-column: 2/18;
    font-family: "Roboto Condensed";
}

.EntryParagraph {
    grid-column: 2/15;
    font-size: 1.5vw;
    padding-bottom: 4vw;
}

.EntryPhotoContainer {
    grid-column: 4/14;
    padding-bottom: 4vw;
}

@media (max-width: 767px) {
    #BlogEntry {
        grid-template-rows: 60vw 12vw 6vw 5vw;
        margin-bottom: 25vw;
    }

    #Title {
        font-size: 6vw;
    }

    #EntryInfo {
        font-size: 2.5vw;
    }

    .EntryParagraph {
        padding-top: 30px;
        grid-column: 1/16;
        font-size: 3vw;
    }
}